@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-tuggi-primary: #00A8E8;
  --color-tuggi-secondary: #FF6F00;
  --color-tuggi-dark: #0B1220;
  --color-tuggi-slate: #5B6472;
  --color-tuggi-bg: #F7F9FC;
}

body {
  background-color: var(--color-tuggi-bg);
  color: var(--color-tuggi-slate);
}
